.pb-calc-container {
  font-family: Lato;
}

.pb-calc-btn {
  border: none;
  background: none;
  font-size: 20px;
}

.pb-calc-btn:hover {
  background: blue;
  color: white;
}

.pb-calc-panel-body {
  padding-bottom: 0;
  text-align: center;
}
